@import 'normalize';
@import 'dragula';
@import 'codemirror';
@import 'react-select';

$sidebar-width: 50px;
$titlebar-height: 40px;
$settings-links-width: 200px;

$color-theme: rgb(2, 187, 0);
$color-theme-red: rgb(253, 65, 33);
$color-theme-blue: rgb(0, 169, 253);
$background-dark: rgb(58, 58, 58);
$background-light: rgb(242, 242, 242);
$text-light: rgb(208, 208, 208);
$text-grey: rgb(99, 104, 110);
$text-dark: rgb(30, 30, 30);
$border-light: rgb(221, 221, 221);

@import 'header';

body{
    background: #e8e8e8;
    .settings-container{
        margin-top: 30px;
        section{
            .section-title {
                display: inline-block;
                margin-bottom: 10px;
                width: 180px;
                text-align: right;
                margin-right: 10px;
            }
            input{
                padding: 9px 10px;
                width: 200px;
                border-radius: 3px;
                background-color: white;
                border: 1px solid #ddd;
                margin-right: 10px;
            }
            select{
                padding: 9px 10px;
                width: 200px;
                border-radius: 3px;
                background-color: white;
                border: 1px solid #ddd;
                margin-right: 10px;
            }
            .input-file{
                text-align: right;
            }
            button{

            }
        }
    }
}
